{$DOMAIN} {
	encode gzip

	handle /api/* {
		reverse_proxy gateway:4000
	}

	handle /socket.io/* {
		reverse_proxy gateway:4000
	}

	handle /health {
		reverse_proxy gateway:4000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
